<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>#{PageTitle}</title>
</head>

<body>
	<h1>#{PageTitle}</h1>

	<ul>
	<# for (var i=0; i<List.length; i++) { #>
		<li>
			#{List[i].Name} - #{List[i].Description}
			<# if (List[i].List) { #>
			<ol>
				<# var listing = List[i].List; #>
				<# for (var n=0; n<listing.length; n++) { #>
				<li><strong>#{listing[n]}</strong></li>
				<# } #>
			</ol>
			<# } #>
		</li>
	<# } #>
	</ul>

	<#
		if (ShowHelloWorld) {
			show('<p>');
			show(HelloWorld);
			show('</p>');
		}
	#>

	<#
		var copyright = '';
		if (ShowCopyright) {
			copyright = '<p>Copyright &copy; Viacheslav Lotsmanov (unclechu)</p>';
		}
	#>

	#{copyright}
</body>
</html>