<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>%{page_title}</title>
</head>

<body>
    <h1>%{page_title}</h1>

    <ul>
    <% list.forEach(function (item) { %>
        <li>
            %{item.name} - %{item.text}
            <% if (item.sublist) { %>
                <ol>
                <% item.sublist.forEach(function (subitem) { %>
                    <li><strong>%{subitem}</strong></li>
                <% }) %>
                </ol>
            <% } %>
        </li>
    <% }) %>
    </ul>

    <% if (show_counter) { %>
        <p>Counter: %{counter}</p>
    <% } %>
</body>
</html>
